.footer {
  position: absolute;
  color: #efefef;
  margin: 0;
  width: 100%;
  right: 0;
  bottom: 0;
  left: 0;
  padding: 1rem;
  background-color: #333;
  font-family: Helvetica, 'raleway', sans-serif;

  .brand-value {
    padding-top: 20px;
    padding-left: 70px;
    font-size: 14px;

    .footer-brand-logo {
      border-bottom: 2px solid white;
      margin-bottom: 10px;
    }

    p {
      width: 80%;
    }

    img {
      width: 200px;
    }
  }

  .crypto-quote {
    font-size: 16px;
    margin-top: 65px;
    margin-left: -95px;
  }

  .social-media {
    margin-right: 27px;
    margin-left: 3px;

    .social-links {
      width: 100%;

      li {
        margin-left: 5px;

        a {
          margin: 30px 10px 15px 15px;
          border-radius: 5px;
          float: left;
          width: 55px;
          padding: 5px 0px;
          background: #fff;
          text-align: center;
          -moz-transition: background-color .2s ease;
          -o-transition: background-color .2s ease;
          -webkit-transition: background-color .2s ease;
          transition: background-color .2s ease;

          i {
            color: #333;
            font-size: 24px;
          }
        }
      }

      .facebook:hover,
      .facebook:focus {
        i {
          color: #4267b2;
        }
      }

      .linkedin:hover,
      .linkedin:focus {
        i {
          color: #0E76A8;
        }
      }

      .twitter:hover,
      .twitter:focus {
        i {
          color: #1da1f2;
        }
      }
      
      .email:hover,
      .email:focus {
        i {
          color: #0078d7;
        }
      }

      .email i {
        margin-left: -2.5px;
      }
    }

    
    span {
      border-top: 2px solid white;
      width: 80%;
      
      img {
        width: 125px;
        margin-top: -3px;
      }
    }

    .copyright {
      margin-right: 25px;
      padding-top: 15px;
    }

    b {
      margin-right: 25px;
      font-size: 10px;
    }
  }
}
