.footer {
  position: relative;
  color: #efefef;
  margin: 0;
  width: 100%;
  right: 0;
  bottom: 0;
  left: 0;
  padding: 2rem 4.375rem;
  background-color: #333;
  font-family: Helvetica, 'raleway', sans-serif;
  z-index: 2;

  .brand-value {
    padding-top: 1.25rem;
    font-size: 0.875rem;
    max-width: 31.333333%;

    .footer-brand-logo {
      border-bottom: 2px solid white;
      margin-bottom: 0.625rem;
    }

    p {
      margin-bottom: 0.75rem;
      width: 85%;
    }

    img {
      width: 12.5rem;
    }
  }

  .crypto-quote {
    font-size: 1rem;
    margin-top: 4.0625rem;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    flex-direction: column;
    padding-left: 0;
    padding-right: 0;
  }

  .social-media {
    margin-left: 4.5875rem;

    .social-links {
      width: 100%;

      li {
        margin-left: 0.25rem;

        a {
          margin: 1.875rem 0.625rem 1rem 1rem;
          border-radius: 0.3125rem;
          float: left;
          width: 3.4375rem;
          padding: 0.3125rem 0px;
          background: #fff;
          text-align: center;
          -moz-transition: background-color .2s ease;
          -o-transition: background-color .2s ease;
          -webkit-transition: background-color .2s ease;
          transition: background-color .2s ease;

          i {
            color: #333;
            font-size: 1.5rem;
          }
        }
      }

      .facebook:hover,
      .facebook:focus {
        i {
          color: #4267b2;
        }
      }

      .linkedin:hover,
      .linkedin:focus {
        i {
          color: #0E76A8;
        }
      }

      .twitter:hover,
      .twitter:focus {
        i {
          color: #1da1f2;
        }
      }
      
      .email:hover,
      .email:focus {
        i {
          color: #0078d7;
        }
      }

      .email i {
        margin-left: -0.15625rem;
      }
    }

    
    span {
      border-top: 2px solid white;
      width: 80%;
      
      img {
        width: 7.8125rem;
        margin-top: -0.1875rem;
      }
    }

    .copyright {
      display: inline-flex;
      justify-content: space-between;
      align-items: center;
      font-size: 0.875rem;
      padding-top: 1rem;

      .copyright-brand-logo {
        height: 100%;
      }
    }

    b {
      font-size: 0.625rem;
    }
  }
}
