#navbar {
  top: 0;
  position: fixed;
  background-color: transparent;
  height: 5rem;
  width: 100%;
  z-index: 100;
  transition: background-color 1s ease 0s;
  padding: 0 4.375rem;

  nav {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    height: 100%;
    width: 100%;

    .home-link {
      display: flex;
      flex-direction: row;
      align-items: center;
      
      .brand-logo-link img {
        width: 10.9375rem;
      }
    }
    
    .navbar-links {
      display: inline-flex;

      a {
        font-family: 'Raleway', sans-serif;
        margin-left: 1.75rem;
        color: white;
        text-decoration: none;
        transition: color 0.8s ease 0.2s, background-position 0.5s ease-out;
        font-size: 1.125rem;
        background-image: linear-gradient(to right, rgba(255,255,255,0) 50%, #ddd 50%);
        background-position: -0% 0;
        background-size: 200% auto;
      }
  
      a:hover {
        background-position: -99.99% 0;
      }
    }
  
    .spinning-coin {
      width: 2.5rem;
      height: 2.5rem;
    }
  }
}

#navbar.solid {
  background-color: white;
  transition: background-color 1s ease 0s;
  -webkit-box-shadow: 0 8px 6px -6px #999;
  -moz-box-shadow: 0 8px 6px -6px #999;
  box-shadow: 0 8px 6px -6px #999;

  .navbar-links {
    a {
      font-family: 'Raleway', sans-serif;
      color: black;
      transition: color 0.8s ease 0.2s, background-position 0.5s ease-out;
      background-image: linear-gradient(to right, rgba(255,255,255,0) 50%, #ddd 50%);
      background-position: -0% 0;
      background-size: 200% auto;
    }
    
    a:hover {
      background-position: -99.99% 0;
    }
  }
}