#new-transaction {
  background-color: #efefef;
  padding-top: 5rem;
  padding-bottom: 0.25rem;
  min-height: calc(100vh - 200px);
  width: 100%;

  .form-box {
    width: 50%;
    background-color: white;
    padding: 3.125rem;
    margin-bottom: 8.75rem;
    -webkit-box-shadow:0 2px 4px rgba(0, 0, 0, 0.3);
    -moz-box-shadow:0 2px 4px rgba(0, 0, 0, 0.3);
    box-shadow:0 2px 4px rgba(0, 0, 0, 0.3);
  }

  .checkout-button {
    border: 1.3px solid #333;
    background-color: white;
    padding: 015625rem 1rem;
    margin-right: 0.625rem;
    transition: background-color ease 0.5s;
  }

  .checkout-button:hover,
  .checkout-button:focus {
    background-color: #efefef;
  }

  .transaction-title {
    font-size: 2rem;
    border-bottom: 2px solid rgba(0, 0, 0, 0.3);
    padding-bottom: 1rem;
    margin-bottom: 1.25rem;
  }

  .crypto-offered {
    font-size: 1rem;
    margin-bottom: 1rem;
  }

  .instruction-label {
    font-size: 0.875rem;
    width: 100%;
  }

  .instruction-text {
    font-size: 0.75rem;
    padding-bottom: 1rem;
  }

  hr {
    width: 100%;
    font-size: 2rem;
    margin-top: 0;
  }

  .purchase-type-toggle {
    margin-left: -0.625rem;
  }

  .crypto-prices {
    padding-top: 0.25rem;
  }

  .new-transaction-form {
    padding-top: 1.25rem;

    .cash-amount {
      margin-left: -0.625rem;
    }
    
    .coin-amount {
      margin-left: -0.625rem;
    }

    .amount-label {
      margin-top: 0.15625rem;
    }

    .total-row {
      padding-top: 1.5rem;
      margin-left: 0px;
      
      label, span {
        margin-top: 0.3125rem;
        padding: 0;
      }
    }
  }
}