#registration-section {
  background-color: #efefef;
  padding-top: 80px;
  padding-bottom: 60px;
  min-height: calc(100vh - 200px);
  width: 100%;

  .registration-container {
    width: 40%;
    background-color: white;
    padding: 50px;
    margin-bottom: 125px;
    -webkit-box-shadow:0 2px 4px rgba(0, 0, 0, 0.3);
    -moz-box-shadow:0 2px 4px rgba(0, 0, 0, 0.3);
    box-shadow:0 2px 4px rgba(0, 0, 0, 0.3);

    h2 {
      padding-bottom: 15px;
      border-bottom: 1.25px solid rgba(0, 0, 0, 0.7);
    }

    .registration-buttons {
      padding-top: 25px;
    }

    .registration-labels {
      margin-top: 15px;
    }

    .input-field	{
      font-size: 18px;
      padding: 10px 10px 10px 5px;
      display: block;
      width: 300px;
      border: none;
      border-bottom: 1px solid #757575;
    }

    .input-field:focus { 
      outline: none;
    }

    .devise-links {
      padding-top: 25px;
    }
  }
}