body {
  position: relative;
  margin: 0;
  border: 0;
  padding-top: 80px;
  padding-bottom: 6rem;
  min-height: 100%;
  font-family: Helvetica, Arial, sans-serif;
}

html {
  height: 100%;
  box-sizing: border-box;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

.hidden {
  display: none !important;
}

.thead-custom-dark {
  color: #fff;
  background-color: #333;
  border-color: #333;
}
