<% if user_signed_in? %>
  <% @transactions.each do |transaction| %>
    <p>it works | </p>
  <% end %>
<% else %>
  <span>To see your transactions, you must <a href="/users/sign_in">sign in</a>!</span>
  <span>If you don't have an account you can <a href="/users/sign_in">register here</a>!</span>
<% end %>

