<h1>Transactions#new</h1>
<p>Find me in app/views/transactions/new.html.erb</p>

<h1>Make a Transaction</h1>
<form action="/purchase" method="post">
  <% if user_signed_in? %>
    <select name="purchase_type">
      <option>CAD</option>
      <option>Number of Coin(s)</option>
    </select>
    <label>Enter the desired amount:</label>
    <input type="text" name="amount_of_coin"/>
    <input type="hidden" name="order_total">
    <div><input type="submit" name="commit" value="Buy Crypto!"/></div>
  <% else %>
    <label>Enter your first name:</label>
    <input type="text" name="guest_first_name"/>
    <label>Enter your last name:</label>
    <input type="text" name="guest_last_name"/>
    <label>Enter your email address:</label>
    <input type="text" name="guest_email"/>
    <select name="purchase_type">
      <option>CAD</option>
      <option>Number of Coin(s)</option>
    </select>
    <label>Enter the desired amount:</label>
    <input type="text" name="amount_of_coin"/>
    <input type="hidden" name="order_total">
    <div><input type="submit" name="commit" value="Buy Crypto!"/></div>
  <% end %>
</form>
