<section id="new-transaction">
  <div class="container form-box">
    <h1 class="transaction-title">Buy Cryptocurrency</h1>
    <h2 class="crypto-offered">We currently offer the purchasing of Bitcoin and Ethereum.</h2>
    
    <label class="instruction-label">How it works:</label>
    <div class="row">
      <span class="instruction-text col">
        Please begin by selecting a cryptocurrency.  
        Next decided if you would like to enter an amount of CAD 
        or number of coin and enter your desired amount. 
        Finally proceed to the checkout, where the amount of coin 
        you have ordered will be shown.
      </span>
    </div>

    <hr>

    <div class="row">
      <div class="dropdown col-3">
        <button class="btn btn-secondary dropdown-toggle select-value" type="button" id="dropdownMenu2" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          Select Crypto
        </button>
        <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
          <button class="dropdown-item bitcoin-select" type="button">Bitcoin</button>
          <button class="dropdown-item ethereum-select" type="button">Ethereum</button>
        </div>
      </div>

      <div class="col-6 crypto-prices">
        <span class="btc-value hidden">Last BTC Price Per Unit: $<span class="btc-price"><%= @crypto_api_service.bitcoin_price %></span>.</span>
        <span class="eth-value hidden">Last ETH Price Per Unit: $<span class="eth-price"><%= @crypto_api_service.ethereum_price %></span>.</span>
      </div>

      <div class="purchase-type-toggle col-3">
        <input id='input-toggle' type="checkbox" checked data-toggle="toggle" data-on="CAD" data-off="Cryptocurrency" data-onstyle="primary" data-offstyle="secondary" data-style="slow">
      </div>
    </div>

    <form action="/purchase" class="new-transaction-form" method="post">
      <div class="hide-form hidden">
        <% unless user_signed_in? %>
          <label>Enter your first name:</label>
          <input type="text" name="guest_first_name"/>
          <label>Enter your last name:</label>
          <input type="text" name="guest_last_name"/>
          <label>Enter your email address:</label>
          <input type="text" name="guest_email"/>
        <% end %>
        <div class="row">
          <label class="amount-label col-8">Enter the desired amount of coin(s) in CAD:</label>
          <input class="cash-amount col-4" type="number" step="0.01"/>
          <input class="coin-amount col-4 hidden" type="number" name="amount-of-coin" step="0.00001" min="0.00016" max="10000"/>
        </div>
        <input class="order-total-hidden" type="hidden" name="order-total">
        <input class="purchase-type" type="hidden" name="purchase-type" value="cad">
        <input class="type-of-crypto" type="hidden" name="type-of-crypto">
        <div class="row total-row">
          <label class="cad-label col">CAD Total:</label>
          <span class="purchase-total col">$<span class="order-total">0.00</span></span>
          <label class="crypto-total col">Coin Total:</label>
          <span class="crypto-amount-visible col">0.00</span>
          <input class="checkout-button col" type="submit" name="commit" value="Checkout"/>
        </div>
      </div>
    </form>
  </div>
</section>
