<section id="footer" class="footer container-fluid">
  <footer class="row">
    <div class="brand-value col-4">
      <%= image_tag("brand-logo-white.png", class: "footer-brand-logo") %>
      <p>Bringing Cryptocurrencies to the Everyday Man!</p>
      <p>
        We are focused on breaking the mystery and fear away from Cryptocurrencies
        offering an easy to use solution to buy and sell Crypto!
      </p>
    </div>
    <div class="col text-center crypto-quote">
      <i>“You can’t stop things like Bitcoin. It will be everywhere and the world will have to readjust. World governments will have to readjust” - John McAfee</i>
    </div>
    <div class="social-media col-3 text-center">
      <div class="row">
        <ul class="social-links list-inline">
          <li><a class="facebook" href="https://facebook.com/" target="_blank"><span class="btn"><i class="fab fa-facebook-f "></i></span></a></li>
          <li><a class="linkedin" href="https://linkedin.com/" target="_blank"><span class="btn"><i class="fab fa-linkedin-in"></i></span></a></li>
          <li><a class="twitter" href="https://twitter.com/" target="_blank"><span class="btn"><i class="fab fa-twitter "></i></span></a></li>
          <li><a class="email" href="mailto:no-exist@kwantumcoins.com" target="_blank"><span class="btn"><i class="far fa-envelope"></i></span></a></li>
        </ul>
      </div>
      <span class="copyright">Copyright © 2018 <%= image_tag("brand-logo-white.png", class: "copyright-brand-logo") %></span><br />
      <b>This website is stricly for learning purposes.</b>
    </div>
  </footer>
</section>